{% extends 'base.html.twig' %}

{% block title %}Manuscript Role{% endblock %}

 {% block pageheader %}
     {% embed 'partial/term-index.html.twig' with {'term': manuscriptRole} %}
     {% endembed %}
 {% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'manuscript_role', 'index_label': 'Manuscript Roles', 'show': manuscriptRole} %}
{% endblock %}


{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'edit': 'manuscript_role_edit', 'delete': 'manuscript_role_delete', 'id': manuscriptRole.id} %}
{% endblock %}

{% block body %}
    {% if manuscriptRole.contributions | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Person</th>
                    <th>Manuscript</th>
                </tr>
            </thead>
            {% set allPeople = manuscriptRole.contributions|map(c => c.person) %}
            {% set people = [] %}
            {% for person in allPeople %}
                {%  if person not in people %}
                    {% set people = people|merge([person]) %}
                {% endif %}
            {% endfor %}
            {% for person in people|sort((a,b) => a.sortableName <=> b.sortableName) %}
                <tr>
                    <td><a href="{{ path('person_show', {'id': person.id}) }}">{{ person }}</a></td>
                    <td>
                        <ul>
                            {% for contribution in manuscriptRole.contributions|filter(c => c.person == person)|sort((a,b) => a.manuscript.callNumber <=> b.manuscript.callNumber) %}
                                <li>
                                    <a href="{{ path('manuscript_show', {'id': contribution.manuscript.id}) }}">{{ contribution.manuscript }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
