/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/.idea
/app/Resources/views/jquery.collection.html.twig
.phpunit.result.cache
/app/config/deploy.yml
/data
*.sql
/bin/.phpunit
/public/bundles
/public/yarn
/public/js/jquery.collection.js
/templates/jquery.collection.html.twig
config/deploy.yaml
.env.local
/public/fonts

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
