{% extends 'base.html.twig' %}

{% block title %}ImageUrl{% endblock %}

 {% block pageheader %}
     <h1>ImageUrl Details</h1>
 {% endblock %} 

{% block admin %}

{% include 'partial/toolbar.html.twig' with {'edit': 'image_url_edit', 'delete': 'image_url_delete', 'id': imageUrl.id } %}

{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Created</th>
                <td>{% if imageUrl.created %}{{ imageUrl.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if imageUrl.updated %}{{ imageUrl.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
