{% extends 'base.html.twig' %}

{% block title %}ImageFile List{% endblock %}

{% block pageheader %}
    <h1>Image Files</h1>
    {% include 'partial/count.html.twig' with {'index': imageFiles, 'label': 'image files'} %}
{% endblock %}

{% block body %}


    {% include 'partial/toolbar.html.twig' with {'new': 'image_file_new'} %}

    <table class="table">
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            {% for imageFile in imageFiles %}
                <tr></tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(imageFiles) }}
    </div>

{% endblock %}
