{% extends 'base.html.twig' %}

{% block title %}ImageFile{% endblock %}

 {% block pageheader %}
     <h1>ImageFile Details</h1>
 {% endblock %} 

{% block admin %}
{% include 'partial/toolbar.html.twig' with {'edit': 'image_file_edit', 'delete': 'image_file_delete', 'id': imageFile.id } %}
{% endblock %}


{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Created</th>
                <td>{% if imageFile.created %}{{ imageFile.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if imageFile.updated %}{{ imageFile.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
