
/* 'Nunito Sans' normal 200*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Nunito Sans ExtraLight'),local('NunitoSans-ExtraLight'),
    url('/mvm/fonts/NunitoSans-ExtraLight-200.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-ExtraLight-200.woff') format('woff');
}

/* 'Nunito Sans' italic 200*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 200;
    src: local('Nunito Sans ExtraLight Italic'),local('NunitoSans-ExtraLightItalic'),
    url('/mvm/fonts/NunitoSans-ExtraLightItalic-200.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-ExtraLightItalic-200.woff') format('woff');
}

/* 'Nunito Sans' normal 300*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Nunito Sans Light'),local('NunitoSans-Light'),
    url('/mvm/fonts/NunitoSans-Light-300.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-Light-300.woff') format('woff');
}

/* 'Nunito Sans' italic 300*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Nunito Sans Light Italic'),local('NunitoSans-LightItalic'),
    url('/mvm/fonts/NunitoSans-LightItalic-300.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-LightItalic-300.woff') format('woff');
}

/* 'Nunito Sans' normal 400*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'),local('NunitoSans-Regular'),
    url('/mvm/fonts/NunitoSans-Regular-400.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-Regular-400.woff') format('woff');
}

/* 'Nunito Sans' italic 400*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Nunito Sans Italic'),local('NunitoSans-Italic'),
    url('/mvm/fonts/NunitoSans-Italic-400.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-Italic-400.woff') format('woff');
}

/* 'Nunito Sans' normal 700*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Sans Bold'),local('NunitoSans-Bold'),
    url('/mvm/fonts/NunitoSans-Bold-700.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-Bold-700.woff') format('woff');
}

/* 'Nunito Sans' italic 700*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Nunito Sans Bold Italic'),local('NunitoSans-BoldItalic'),
    url('/mvm/fonts/NunitoSans-BoldItalic-700.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-BoldItalic-700.woff') format('woff');
}

/* 'Nunito Sans' normal 800*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Nunito Sans ExtraBold'),local('NunitoSans-ExtraBold'),
    url('/mvm/fonts/NunitoSans-ExtraBold-800.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-ExtraBold-800.woff') format('woff');
}

/* 'Nunito Sans' italic 800*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Nunito Sans ExtraBold Italic'),local('NunitoSans-ExtraBoldItalic'),
    url('/mvm/fonts/NunitoSans-ExtraBoldItalic-800.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-ExtraBoldItalic-800.woff') format('woff');
}

/* 'Nunito Sans' normal 900*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Nunito Sans Black'),local('NunitoSans-Black'),
    url('/mvm/fonts/NunitoSans-Black-900.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-Black-900.woff') format('woff');
}

/* 'Nunito Sans' italic 900*/
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 900;
    src: local('Nunito Sans Black Italic'),local('NunitoSans-BlackItalic'),
    url('/mvm/fonts/NunitoSans-BlackItalic-900.woff2') format('woff2'),
    url('/mvm/fonts/NunitoSans-BlackItalic-900.woff') format('woff');
}

/* 'EB Garamond' normal 500*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    src: 
    url('/mvm/fonts/eb-garamond-normal-500.woff2') format('woff2'),
    url('/mvm/fonts/eb-garamond-normal-500.woff') format('woff');
}

/* 'EB Garamond' normal 700*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    src: 
    url('/mvm/fonts/eb-garamond-normal-700.woff2') format('woff2'),
    url('/mvm/fonts/eb-garamond-normal-700.woff') format('woff');
}

/* 'EB Garamond' normal 600*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 600;
    src: 
    url('/mvm/fonts/eb-garamond-normal-600.woff2') format('woff2'),
    url('/mvm/fonts/eb-garamond-normal-600.woff') format('woff');
}

/* 'EB Garamond' normal 800*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    src: 
    url('/mvm/fonts/eb-garamond-normal-800.woff2') format('woff2'),
    url('/mvm/fonts/eb-garamond-normal-800.woff') format('woff');
}

/* 'EB Garamond' italic 500*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    src: 
    url('/mvm/fonts/eb-garamond-italic-500.woff2') format('woff2'),
    url('/mvm/fonts/eb-garamond-italic-500.woff') format('woff');
}

/* 'EB Garamond' italic 700*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 700;
    src: 
    url('/mvm/fonts/eb-garamond-italic-700.woff2') format('woff2'),
    url('/mvm/fonts/eb-garamond-italic-700.woff') format('woff');
}

/* 'EB Garamond' italic 800*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 800;
    src: 
    url('/mvm/fonts/eb-garamond-italic-800.woff2') format('woff2'),
    url('/mvm/fonts/eb-garamond-italic-800.woff') format('woff');
}

/* 'EB Garamond' italic 600*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 600;
    src: 
    url('/mvm/fonts/eb-garamond-italic-600.woff2') format('woff2'),
    url('/mvm/fonts/eb-garamond-italic-600.woff') format('woff');
}
