@function average($values...){
     $length: list.length($values);
     $sum: 0;
     @each $value in $values{
         $sum: $sum + $value;
     }
     @return $sum / $length;
}

@mixin link{
        text-decoration:none;
        color: $mvm-black;
        border-bottom: 0.15rem solid $mvm-underline;
        line-height: 1.65;
        transition: border-bottom-color 0.2s ease-in-out;
         &:hover,
         &:focus{
             text-decoration:none;
             color:$mvm-black;
             border-bottom-color: rgba($mvm-dark-purple, 0.8);
         }
    
}