@media (max-width: 1200px){
    article.container {
        .gallery{
            .item{
                flex-basis:45%;
            }
        }
 
    }
    
    
}

@media (max-width: 992px) {
    .tab-pane.active[id*=transcription]{
        flex-wrap:wrap;
        & > div {
            flex: 1 1 100%!important;
            &.transcription{
                margin-left: map.get($typescale, 6);
            }
        }
    }
}

@media (max-width: 768px){
    article.container {
        margin-left: 0rem;
        margin-right: 0rem;
        padding-left: .75rem;
        padding-right: .75rem;
        .gallery{
            .item{
                margin-left:2rem;
                margin-right:2rem;
                margin-top:1rem;
                margin-bottom:1rem;
                &.empty{
                    display:none;
                }
            }
        }
 
    }
    
    
    
    nav.navbar{
        .navbar-nav{
            & > li > a{
                &:after{
                    margin-left:0;
                    margin-right:0;
                    transition:opacity 0.3s $easeInOutSine, width 0.35s $easeInQuint;
                    }
            }
            .open{
               .dropdown-menu > li > a{
                 color:$mvm-white;
                 &:hover, &:focus{
                    background: $mvm-white;
                    color: $mvm-dark-purple;
                   } 
               }
           }     
        }
      }
    
    header{
        .list-group-horizontal{
            flex-direction:column;
            li{
                border-left:none!important;
            }
        }
    } 
    
    .body-nav{
        .btn-toolbar{
            margin-left:auto;
        }
    }
    
    
}

