@media (max-width: 1200px){
    article.container {
        .gallery{
            .item{
                flex-basis:45%;
            }
        }
 
    }
    
    
}

@media (max-width: 992px) {
    .tab-pane.active.transcription-tab{
        flex-wrap:wrap;
        flex-direction: column-reverse;
        & > div {
            flex: 1 1 100%;
        }
    }
}

@media (max-width: 768px){
    article.container {
        margin-left: 0rem;
        margin-right: 0rem;
        padding-left: .75rem;
        padding-right: .75rem;
        .gallery{
            .item{
                margin-left:2rem;
                margin-right:2rem;
                margin-top:1rem;
                margin-bottom:1rem;
                &.empty{
                    display:none;
                }
            }
        }
 
    }
    
    header{
        .list-group-horizontal{
            flex-direction:column;
            li{
                border-left:none!important;
            }
        }
    } 
    
    .body-nav{
        .btn-toolbar{
            margin-left:auto;
        }
    }
    
    
}

