@media (max-width: 1200px){
    article.container {
        .gallery{
            .item{
                flex-basis:45%;
            }
        }
 
    }
    
    
}

@media (max-width: 992px) {
    .tab-pane.active.transcription-tab{
        flex-wrap:wrap;
        flex-direction: column-reverse;
        & > div {
            flex: 1 1 100%;
        }
    }
}

@media (max-width: 768px){
    article.container {
        margin-left: .5rem;
        margin-right: .5rem;
        padding-left: .75rem;
        padding-right: .75rem;
        .gallery{
            .item{
                flex-basis:100%;
                margin-left:0;
                margin-right:0;
                &.empty{
                    display:none;
                }
            }
        }
 
    }
    
    
}