<table class="table">
    <thead>
        <tr>
            <th>Label</th>
            <th>Description</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        {% for coterie in coteries %}
            <tr>
                <td>
                    <a href="{{ path('coterie_show', { 'id': coterie.id }) }}">
                        {{ coterie.label }}
                    </a>
                </td>

                <td>
                    {{ coterie.description|raw }}
                </td>

                <td class='number'>{{ coterie.people|length }}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
