{% extends 'base.html.twig' %}

{% block title %}Feature Edit{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'feature', 'show': 'Edit'} %}
{% endblock %}

{% block pageheader %}
    <h1>Feature Edit</h1>
{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="text-center">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a href="{{ path('feature_show', {'id': feature.id}) }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
