{% extends 'base.html.twig' %}

{% block title %}Feature List{% endblock %}

{% block pageheader %}
    <h1>Feature List</h1>
    <p class="count">
        Displaying {{ features|length }} features of {{ features.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('feature_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}
        </div>
    </div>

    {% include '@NinesUtil/term/partial/index.html.twig' with {'terms': features, 'path': 'feature_show'} %}

    <div class="navigation">
        {{ knp_pagination_render(features) }}
    </div>

{% endblock %}
