{% extends 'base.html.twig' %}

{% block title %}Content Search{% endblock %}


{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'content', 'show': 'Search'} %}
{% endblock %}

{% block pageheader %}
    <h1>Content Search</h1>
    {% include 'partial/count.html.twig' with {'index': contents, 'label': 'contents'} %}
{% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' with {'path': path('content_search')} %}

    {% if contents|length > 0 %}
        {% include 'content/partial/index.html.twig' %}
    {% else %}
        {% include 'partial/search-no-results.html.twig' %}
    {% endif %}

    {% if q %}
        <div class="navigation">
            {{ knp_pagination_render(contents) }}
        </div>
    {% endif %}

{% endblock %}
