{% extends 'base.html.twig' %}

{% block title %}Period List{% endblock %}
{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'period'} %}
{% endblock %}

{% block pageheader %}
    <h1>Periods</h1>
    <p>Time periods within which the miscellanies in this database were created (30-year intervals)</p>
    {% include 'partial/count.html.twig' with {'index': periods, 'label': 'periods'} %}
{% endblock %}

{% block action_buttons %}
    {% include 'partial/toolbar.html.twig' with {'new': 'period_new'} %}
{% endblock %}

{% block body %}
    {% include 'period/partial/index.html.twig' with {'periods': periods} %}

    <div class="navigation">
        {{ knp_pagination_render(periods) }}
    </div>

{% endblock %}
