{% extends '@!NinesBlog/page/show.html.twig' %}

 {% block breadcrumb %}
     {% include 'partial/breadcrumb.html.twig' with {'index_path': path('nines_blog_page_index'), 'index_label': 'About', 'show': page} %}
 {% endblock %}

{% block action_buttons %}
    <a href="{{ path('nines_blog_page_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% include 'partial/toolbar.html.twig' with {'edit': 'nines_blog_page_edit', 'delete': 'nines_blog_page_delete', 'id': page.id} %}
{% endblock %}

{% block body %}
    <section class="blog_page">
        {{ page.content|raw }}
    </section>
    {% include 'partial/next-prev.html.twig' %}
{% endblock %}