{% extends 'base.html.twig' %}

{% block title %}Coteries{% endblock %}

{% block pageheader %}
    <h1>Coteries</h1>
    <p>A group of individuals who interacted with one another and shared similar interests</p>
    {% include 'partial/count.html.twig' with {'index': coteries, 'label': 'coteries'} %}
{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'coterie'} %}
{% endblock %}

{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'new': 'coterie_new'} %}
{% endblock %}


{% block body %}

    {% include 'partial/search-form.html.twig' with {'path': path('coterie_search'), 'q': ''} %}
    {% include 'coterie/partial/index.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(coteries) }}
    </div>
{% endblock %}
