{% extends 'base.html.twig' %}

{% block title %}Coteries{% endblock %}

{% block pageheader %}
    <h1>Coteries</h1>
    <p>A social network of individuals whose activities feature the exchange of original poetry and other literary
        pursuits</p>
    {% include 'partial/count.html.twig' with {'index': coteries, 'label': 'coteries'} %}
{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'coterie'} %}
{% endblock %}

{% block action_buttons %}
    {% include 'partial/toolbar.html.twig' with {'new': 'coterie_new'} %}
{% endblock %}


{% block body %}

    {% include 'coterie/partial/search-form.html.twig'%}
    {% include 'coterie/partial/index.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(coteries) }}
    </div>
{% endblock %}
