{% extends 'base.html.twig' %}

    {% block title %}New Coterie {% endblock %}

    {% block body %}
        <h1>New Coterie</h1>

        {% embed 'coterie/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
