{% extends 'base.html.twig' %}

{% block title %}Coterie Search{% endblock %}


{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'coterie', 'index_label': 'Coteries', 'show': 'Search'} %}
{% endblock %}

{% block pageheader %}
    <h1>Coterie Search</h1>
    {% if q %}
        {% include 'partial/count.html.twig' with {'index': coteries, 'label': 'coteries'} %}
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'coterie/partial/search-form.html.twig' %}

    {% if coteries|length > 0 %}
        {% include 'coterie/partial/index.html.twig' %}
    {% else %}
        {% include 'partial/search-no-results.html.twig' %}
    {% endif %}

    {% if q %}
        <div class="navigation">
            {{ knp_pagination_render(coteries) }}
        </div>
    {% endif %}

{% endblock %}
