{% extends 'base.html.twig' %}

{% block title %}{{ coterie.label }} {% endblock %}

{% block action_buttons %}
    {% include 'partial/toolbar.html.twig' with {'edit': 'coterie_edit', 'delete': 'coterie_delete', 'id': coterie.id} %}
{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'coterie', 'show': coterie.label} %}
{% endblock %}

 {% block pageheader %}
     {% embed 'partial/term-index.html.twig' with {'term': coterie} %}
         {% block callback %}
             {% if coterie.regions %}
                 <ul class="list-group-horizontal">
                     {% for region in coterie.regions %}
                         <li>
                             {% if loop.first %}
                                 <em>Regions:</em>
                             {% endif %}
                             <a href="{{ path('region_show', {'id': region.id}) }}">{{ region }}</a>
                         </li>
                     {% endfor %}
                 </ul>
             {% endif %}
         {% endblock %}
     {% endembed %}
 {% endblock %}

{% block body %}
    {% include 'partial/tabs.html.twig' with {
        'tabs':
        {
            'People': include('person/partial/index.html.twig', {'people': coterie.people})|raw,
            'Manuscripts': include('manuscript/partial/gallery.html.twig', {'manuscripts': coterie.manuscripts})|raw,
            'Periods': include('period/partial/index.html.twig', {'periods': coterie.periods})|raw
        }
    } %}
{% endblock %}
