{% extends 'base.html.twig' %}

{% block title %}Print Source Edit{% endblock %}

{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' with {'index': 'print_source', 'index_label': 'Print Sources', 'show': printSource.label} %}
{% endblock %}

{% block body %}
    <h1>Print Source Edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a href="{{ path('print_source_show', { 'id': printSource.id }) }}" class="btn btn-warning">Cancel</a>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
