{% extends 'base.html.twig' %}

{% block title %}Print Sources{% endblock %}

{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' with {'index': 'print_source', 'index_label': 'Print Sources'} %}
{% endblock %}

{% block pageheader %}
    <h1>Print Sources</h1>
{% include 'partial/count.html.twig' with {'index': printSources, 'label': 'print sources'} %}
{% endblock %}

{% block admin %}
<div class='btn-toolbar pull-right'>
    <div class='btn-group'>
        <a href="{{ path('print_source_new') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> New </a>
        <a href="{{ path('print_source_search') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search </a>
    </div>
</div>
{% endblock %}

{% block body %}

{% include 'partial/search-form.html.twig' with {'path': path('print_source_search'), 'q': ''} %}
{% include 'print_source/partial/index.html.twig' %}    


    <div class="navigation">
        {{ knp_pagination_render(printSources) }}
    </div>

{% endblock %}
