{% extends 'base.html.twig' %}

{% block title %}Print Sources{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'print_source', 'index_label': 'Print Sources'} %}
{% endblock %}

{% block pageheader %}
    <h1>Print Sources</h1>
    <p>Periodical, newspaper, miscellany, or anthology sources identified in at least one manuscript</p>
    {% include 'partial/count.html.twig' with {'index': printSources, 'label': 'print sources'} %}
{% endblock %}

{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'new': 'print_source_new'} %}
{% endblock %}

{% block body %}
    {% include 'partial/search-form.html.twig' with {'path': path('print_source_search'), 'q': ''} %}
    {% include 'print_source/partial/index.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(printSources) }}
    </div>
{% endblock %}
