{% extends 'base.html.twig' %}

{% block title %}New Print Source{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'print_source', 'index_label': 'Print Sources', 'show': 'New'} %}
{% endblock %}

{% block pageheader %}
    <h1>New Print Source</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="{{ path('print_source_index') }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
