{% extends 'base.html.twig' %}

{% block title %}Print Source{% endblock %}

 {% block pageheader %}
     {% embed 'partial/term-index.html.twig' with {'term': printSource} %}
         {% block callback %}
             {% if printSource.regions %}
                 <ul class="list-group-horizontal">
                         {% for region in printSource.regions %}
                             <li>
                                 {% if loop.first %}
                                    <em>Regions:</em>
                                 {% endif %}
                                 <a href="{{ path('region_show', {'id': region.id}) }}">{{ region }}</a>
                             </li>
                         {% endfor %}
                     </ul>
             {% endif %}
         {% endblock %}
     {% endembed %}
 {% endblock %}

 {% block breadcrumb %}
     {% include 'partial/breadcrumb.html.twig' with {'index': 'print_source', 'index_label': 'Print Sources', 'show': printSource.label} %}
 {% endblock %}

{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'edit': 'print_source_edit', 'delete': 'print_source_delete', 'id': printSource.id} %}
{% endblock %}

{% block body %}
    {% include 'manuscript/partial/gallery.html.twig' with {'manuscripts': printSource.manuscripts} %}
{% endblock %}
