{% extends 'base.html.twig' %}

{% block title %}Manuscript Role List{% endblock %}

{% block pageheader %}
    <h1>Manuscript Role List</h1>
    <p class="count">
        Displaying {{ manuscriptRoles|length }} manuscript roles of {{ manuscriptRoles.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('manuscript_role_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}
        </div>
    </div>

    {% include 'NinesUtilBundle:term/partial:index.html.twig' with {'terms': manuscriptRoles, 'path': 'manuscript_role_show'} %}

    <div class="navigation">
        {{ knp_pagination_render(manuscriptRoles) }}
    </div>

{% endblock %}
