{% extends 'base.html.twig' %}

{% block title %}Archives{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'archive'} %}
{% endblock %}

{% block pageheader %}
    <h1>Archives</h1>
    <p>Repositories of miscellanies included in this database</p>
    {% include 'partial/count.html.twig'
        with {'index': archives, 'label': 'archives'} %}
{% endblock %}

{% block admin %}
    {% include 'partial/toolbar.html.twig' with {'new': 'archive_new' } %}
{% endblock %}

{% block body %}
    {% include 'partial/search-form.html.twig' with {'path': path('archive_search'), 'q': ''} %}
    {% include 'archive/partial/index.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(archives) }}
    </div>

{% endblock %}
