{% extends 'base.html.twig' %}



{% block title %}Archive Search{% endblock %}

{% block breadcrumb %}
{% include 'partial/breadcrumb.html.twig' with {'index': 'archive','show':'Search'} %}
{% endblock %}

{% block pageheader %}
    <h1>Archive Search</h1>
    {% if q %}
        {% include 'partial/count.html.twig' with {'index': archives, 'label': 'archives'} %}
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' with {'path': path('archive_search')} %}
    
    {% if archives|length > 0 %}
        {% include 'archive/partial/index.html.twig' %}
    {% else %}
        {% include 'partial/search-no-results.html.twig' %}
    {% endif %}
    {% if q %}
        <div class="navigation">
            {{ knp_pagination_render(archives) }}
        </div>
    {% endif %}

{% endblock %}
