<table class="table">
    <thead>
    <tr>
        <th>Theme</th>
        <th>Description</th>
        <th>Manuscripts</th>
    </tr>
    </thead>
    <tbody>
    {% for theme in themes %}
        <tr>
            <td><a href="{{ path('theme_show',{'id':theme.id}) }}">{{ theme.label }}</a></td>
            <td>{{ theme.description|raw }}</td>
            <td class="number">{{ theme.manuscripts|length }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
