

<div class="gallery">
    {% for manuscript in manuscripts %}
    {% include 'manuscript/partial/gallery-item.html.twig' with {'manuscript': manuscript} %}
   {% endfor %}
   {# Now the stupid empty item hack
   so that listings that aren't multiples of 3
   don't stretch #}
    <div class="item empty"></div>
    <div class="item empty"></div>
</div>

    


        
    
</div>