{% if manuscripts|length > 0 %}
    {% if sort is not defined and not null %}
        {% set manuscripts = manuscripts|sort((a,b) => a.callNumber <=> b.callNumber) %}
    {% endif %}
    <div class="gallery ms">
        {% for manuscript in manuscripts %}
            {% include 'manuscript/partial/gallery-item.html.twig' with {'manuscript': manuscript} %}
        {% endfor %}
    </div>
{% endif %}
