{{ form_start(form, {'action': path('manuscript_search'), 'method': 'GET' }) }}
<div class='form-group'>
    <label class='col-sm-2 control-label sr-only' for='q'>Search term</label>
    <div class='col-sm-12'>
        <div class='input-group'>
            {{ form_widget(form.search) }}
            <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class='glyphicon glyphicon-search'></span>
                            Search
                        </button>
                    </span>
        </div>
    </div>
</div>
<hr>
{{ form_rest(form) }}
{{ form_end(form) }}
