{% set extra %}
    {% set checked %}{% if (digitized is defined) and (digitized == 'yes') %}checked='checked'{% endif %}{% endset %}
    <div class='details'>
    <details>
        <summary>Search Options</summary>
        <div class='checkbox'>
            <label class='control-label'> <input type='checkbox' name='digitized' id='digitized' value='yes' {{ checked }}> Digitized
                manuscripts only </label>
            <p class="help-block">If this control is checked, only manuscripts that have been digitized will be included
                in search results.</p>
        </div>
    </details>
    </div>
{% endset %}
{% include 'partial/search-form.html.twig' with {
    'path': path('manuscript_search'),
    'help': 'Search within call numbers, titles, descriptions, or formats.
            To find specific manuscripts by call number or title, place part or
            all of the call number or title in quotation marks (e.g. "M.b.23" or
            "Poems").',
    'extra': extra,
} %}
