
{% if manuscript.untitled %}
    <span class="title untitled" title="Untitled">{{ title|default(manuscript.title) }}</span>
{% else %}
    <span class="title">{{ title|default(manuscript.title) }}</span>
{% endif %}