{% extends 'base.html.twig' %}

{% block title %}Manuscript Poems List{% endblock %}



{% block pageheader %}
    <h1>Manuscript Poems</h1>
    {% include 'partial/count.html.twig' with {'index': manuscriptContents, 'label': 'manuscript contents'} %}
{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'manuscript_content', 'index_label': 'Manuscript Poems'} %}
{% endblock %}


{% block body %}

    {% include 'manuscript_content/partial/index.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(manuscriptContents) }}
    </div>

{% endblock %}
