

.nextPrev{
  display:flex;
  width:100%;
  margin-top:auto;
  margin-bottom: -3rem;
  font-size: 0.88rem;

  .next, .prev{
    margin-top:3rem;
    &:before, &:after{
      display:inline-block;
      opacity:0.8;
      margin-right: 0.2rem;
    }
  }

  .prev{
    margin-right:auto;
    &:before{
      content: "\2190";
    }
  }

  .next{
    margin-left:auto;
    &:after{
      content: "\2192";
    }
  }

}