{% extends 'base.html.twig' %}

{% block title %}Manuscripts{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'manuscript'} %}
{% endblock %}

{% block pageheader %}
    <h1>Manuscripts</h1>
    <p>Poetry miscellanies examined on-site or in digitized form by the research team</p>
    {% include 'partial/count.html.twig' with {'index': manuscripts, 'label': 'manuscripts'} %}
{% endblock %}

{% block action_buttons %}
    {% include 'partial/toolbar.html.twig' with {'new': 'manuscript_new'} %}
{% endblock %}

{% block body %}
    {% include 'manuscript/partial/search-form.html.twig' %}
    {% include 'manuscript/partial/gallery.html.twig' %}
    <div class="navigation">
        {{ knp_pagination_render(manuscripts) }}
    </div>
{% endblock %}
