{% extends 'base.html.twig' %}

{% block title %}New Manuscript{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'manuscript', 'show': 'New'} %}
{% endblock %}

 {% block pageheader %}
    <h1>New Manuscript</h1>
 {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button type="submit" name="submit" value="draft" class="btn btn-primary">Save as Draft</button>
        <button type="submit" name="submit" value="complete" class="btn btn-primary">Save as Complete</button>
        <a href="{{ path('manuscript_index') }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
