{% extends 'base.html.twig' %}

{% block title %}Person List{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'person', 'index_label': 'People'} %}
{% endblock %}

{% block pageheader %}
    <h1>People</h1>
    <p>Individuals playing a role in at least one manuscript miscellany or poem</p>
    {% include 'partial/count.html.twig' with {'index': people, 'label': 'people'} %}
{% endblock %}

{% block action_buttons %}
    {% include 'partial/toolbar.html.twig' with {'new': 'person_new'} %}
{% endblock %}

{% block body %}
    {% include 'person/partial/search-form.html.twig' %}
    {% include 'person/partial/index.html.twig' %}
    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>
{% endblock %}
