{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'person', 'index_label': 'People'} %}
{% endblock %}

{% block pageheader %}
    <h1>New Person</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="{{ path('person_index') }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
