{% extends 'base.html.twig' %}

{% block title %}Person Search{% endblock %}


{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'person', 'index_label': 'People', 'show': 'Search'} %}
{% endblock %}

{% block pageheader %}
    <h1>Person Search</h1>
    {% if q %}
        {% include 'partial/count.html.twig' with {'index': people, 'label': 'people'} %}
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'person/partial/search-form.html.twig' %}
    {% if people|length > 0 %}
        {% include 'person/partial/index.html.twig' %}
    {% else %}
        {% include 'partial/search-no-results.html.twig' %}
    {% endif %}

    {% if q %}
        <div class="navigation">
            {{ knp_pagination_render(people) }}
        </div>
    {% endif %}

{% endblock %}
