{# Extension for modal #}

{% set subheading = block('subheading') %}
{% set ms_route = 'manuscript_show' %}
<dialog id="{{ app.request.pathInfo|replace({'/':'', 'modal':''}) }}">
    <header class="dialog-heading">
        <div>
            <h3>{% block heading %}Hello{% endblock %}</h3>
            {% if subheading is defined and subheading is not empty %}
                <div class="subheading">{% block subheading %}{% endblock %}</div>
            {% endif %}
        </div>
        <div class="dialog-closer">
            <form method="dialog">
                <button class="btn">
                    <svg viewBox="0 0 24 24" height="1rem" width="1rem">
                        <line x1="0" x2="24" y1="0" y2="24"/>
                        <line x1="24" x2="0" y1="0" y2="24"/>
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
            </form>
        </div>
    </header>
    <div class="dialog-content">
        {% block body %}
        {% endblock %}
        <div class="dialog-content__manuscripts">
            <h3>Manuscripts</h3>
            {% for manuscript in manuscripts %}
                {% set params = {'id': manuscript.id } %}
                <li>
                    <a href="{{ path(ms_route, params) }}">{{ manuscript }}</a>
                    {% if url(ms_route, params) == app.request.server.get('HTTP_REFERER') %}
                        THIS IS THE SAME AND IT WORKED
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    </div>
</dialog>