{% extends 'modal.html.twig' %}

{% set entity = theme %}

{% block heading %}
    <a href="{{ path('theme_show', {'id': theme.id}) }}">{{ theme }}</a>
{% endblock %}

{% block label %}<a href="{{ path('theme_index') }}">Theme</a>{% endblock %}

{% block description %}
    {{ theme.description|raw }}
{% endblock %}



