<table class="table">
    <thead>
        <tr>
            <th>Archive</th>
            <th>Description</th>
            <th>Manuscripts</th>
        </tr>
    </thead>
    <tbody>
        {% for archive in archives %}
        <tr>
            <td><a href="{{ path('archive_show', {'id': archive.id}) }}">{{ archive }}</a></td>
            <td>{{ archive.description|raw }}</td>
            <td class="number">{{ archive.manuscripts|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>