{% extends 'base.html.twig' %}

{% block title %}New Poem Role{% endblock %}



{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'content_role', 'index_label': 'Poem Roles', 'show': 'New'} %}
{% endblock %}

{% block pageheader %}
    <h1>New Poem Role</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="{{ path('content_role_index') }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
