{% extends 'base.html.twig' %}

{% block title %}Region Edit{% endblock %}

{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'region', 'show':region.name} %}
{% endblock %}

{% block pageheader %}
    <h1>Region Edit</h1>
{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="text-center">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a href="{{ path('region_show', {'id': region.id}) }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}
