{% extends 'base.html.twig' %}

{% block title %}New Region{% endblock %}
{% block breadcrumb %}
    {% include 'partial/breadcrumb.html.twig' with {'index': 'region', 'show': 'New'} %}
{% endblock %}

{% block pageheader %}
    <h1>New Region</h1>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="{{ path('region_index') }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(form) }}

{% endblock %}
