{% set pagination = index.paginationData %}
<p class="count">Displaying {{ pagination.firstItemNumber }}–{{ pagination.lastItemNumber }} {{ label }} out
    of {{ index.getTotalItemCount }} total</p>

