{# Partial for creating the next/previous links for pages in the About menu #}

{% set pageMenu = knp_menu_get('nines_blog_pages') %}
{% set currMenu = pageMenu.children|first %}
{% set children = currMenu.children[:-2] %}
{% set len = children|length  %}
{% set idx = -1 %}
{% for child in children %}
    {% if child is knp_menu_current %}
        {% set idx = loop.index0 %}
    {% endif %}
{% endfor %}

{% if (idx > -1) %}
    <div class="nextPrev">
        {% if idx != 0 %}
            {% set prev = children|slice(idx - 1, 1)|first %}
            <div class="prev">
                <a href="{{ prev.uri }}">{{ prev.label }}</a>
            </div>
        {% endif %}
        {% if (idx + 1) < len %}
            {% set next = children|slice(idx + 1, 1)|first %}
            <div class="next">
                <a href="{{ next.uri }}">{{ next.label }}</a>
            </div>
        {% endif %}
    </div>
{% endif %}