<form method="get" action="{{ path }}" class="form-horizontal">
    <fieldset>
        <legend class="sr-only">Search</legend>
        <div class='form-group'>
            <label class='col-sm-2 control-label sr-only' for='q'>Search term</label>
            <div class='col-sm-12'>
                <div class='input-group'>
                    <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class='glyphicon glyphicon-search'></span>
                            Search
                        </button>0
                    </span>
                </div>
                {% if help is defined %}
                <p class="help-block">{{ help }}</p>
                {% endif %}
            </div>
        </div>
    </fieldset>
</form>
