{% set index = route|replace({'search':'index'}) %}
{% set searches = {
    'archive_search': 'Archives',
    'manuscript_search': 'Manuscripts',
    'content_search': 'Poems',
    'coterie_search': 'Coteries',
    'person_search': 'People',
    'print_source_search': 'Print Sources',
    'region_search': 'Regions',
    'theme_search': 'Themes'
}
%}

{% set current = searches[route] %}

<div>
    <p>No results found.</p>
    <ul>
        <li><a href="{{ path(index) }}">Browse all {{ current }}</a></li>
        <li>Or try searching in:
            <ul>
                {% for key in searches|keys %}
                    {% if key != route %}
                    <li>
                        <a href="{{ path(key, {q: q}) }}">{{ searches[key] }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>



