{% if is_granted('ROLE_CONTENT_ADMIN') %}
    {% if new is defined %}
        <a href="{{ path(new) }}" class="btn btn-light">
            <i class="bi bi-plus-lg"></i> New
        </a>
    {% endif %}

    {% if sort_action is defined %}
        <a href="{{ path(sort_action) }}" class="btn btn-light">
            <i class="bi bi-arrow-down-up"></i> Sort
        </a>
    {% endif %}

    {% if edit is defined %}
        <a href="{{ path(edit, {'id': id}) }}" class="btn btn-light">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
    {% endif %}

    {% if delete is defined %}
        <a href="{{ path(delete, {'id': id}) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this record?">
            <i class="bi bi-trash"></i> Delete
        </a>
    {% endif %}
{% endif %}