{% extends 'base.html.twig' %}

{% block body %}
    <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>

    <p>
        Your application is now ready. You can start working on it at: <code>{{ base_dir }}</code>
    </p>
{% endblock %}
